<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sven Struan Finlay</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      [v-cloak]{
        display: none;
      }
    </style>
  </head>

  <body>
    <div id="app">
        <div class="container">
          <form v-if="!submitted" class="mt-5" >
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" v-model="email" class="form-control form-control-lg">
              </div>
              <button type="submit"  @click.prevent="proccess" class="btn btn-primary"name="button">Submit</button>
          </form>

          <h2 v-else v-cloak class="mt-5"> Thank you for submitting!</h2>
        </div>
    </div>
  </body>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">

    var api_key = "Esk0fHcyLULXFU3jNklBhhpk2tvQceoA9DLiE3QZ";
    var url = "https://api.nasa.gov/planetary/apod?api_key=" +api_key;
    var vm = new Vue({
      el: "#app",
      data: {
        email: "sven@svensfinlay.tech",
        submitted: false
      },
      methods: {
        proccess: function(){
          this.submitted = true;
        }
      }
    });

    axios.get(url)
      .then(function(res){
        console.log(res);
      })
  </script>
</html>
